<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
</head>
    <body>
        <h1>Buscar Veiculo</h1>
        <form method="get">
            <input type="text" name="marca" placeholder="Digite a marca" value="{{ marca }}">
            <button type="submit">Buscar</button>
        </form>
        {% if veiculos %}
            {% for v in veiculos %}
                <ul>
                    <li>
                        <strong>{{ v.make }} {{ v.model }}</strong> - {{ v.year }} <br>
                        Combustível: {{ v.fuel_type }} | Transmissão: {{ v.transmission }}
                    </li>
                </ul>
            {% endfor %}
        {% else %}
        <p>Nenhum veículo encontrado.</p>
        {% endif %}
</body>
</html>