<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <h1>Editar Veículo</h1>
    <form method="post">
        {% csrf_token %}
        Nome: <input type="text" name="nome" value="{{ veiculo.nome }}"><br>
        Tipo:
        <select name="tipo">
        <option value="carro" {% if veiculo.tipo == "carro" %}selected{% endif %}>Carro</option>
        <option value="moto" {% if veiculo.tipo == "moto" %}selected{% endif %}>Moto</option>
        </select><br>
        Ano: <input type="number" name="ano" value="{{ veiculo.ano }}"><br>
        Marca:
        <select name="marca">
        {% for m in marcas %}
        <option value="{{ m.id }}" {% if veiculo.marca.id == m.id %}selected{% endif %}>{{ m.nome }}</option>
        {% endfor %}
        </select><br>
        <button type="submit">Salvar</button>
    </form>

</body>
</html>