<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista das Marcas</title>
</head>
<body>
    <h1>Marcas</h1>
    {% for marca in marcas %}
    <ul>
        <li>{{ marca.nome }} - {{ marca.pais_origem }}</li>
        <a href="{% url 'atualiza_marca' marca.id %}">Atualizar🔄</a>
        <a href="{% url 'deleta_marca' marca.id %}">Deletar🗑️</a>
        <a href="{% url 'lista_veiculos' %}">Seus veiculos🚘</a>
    </ul>
    {% endfor %}
<a href="{% url 'cria_marca' %}">Nova Marca</a>
</body>
</html>